body {
    margin: 0px;
    background-position: right top;
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.formRow {
    text-align: center;
    width: 100%;
    margin-block-end: auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
}
